.complete-post{
  text-align: center;
  color: #333;
    font-size: 30px;
    padding: 20px;
    position: relative;
    height: 300px;
    &__list{
      text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    a{
      font-weight: bold;
    text-decoration: none;
    background: skyblue;
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin: 20px;
    :hover{
      background-color: brown;
    }
    }
    }
}