#home.big-bg
  %header.page-header.wrapper
    %h1
      %a{:href => "index.html"}
        %img.logo{:src => "images/logo.cat.png"}/
  .home-content.wrapper
    %h2.page-title Cat Cafe Kura
    %p 猫好きな、あなたに極上の癒しを与えます
    = link_to '入る', homes_path,{ :class =>"button"}
