!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %title 猫カフェ
  %link{:href => "sf.css", :rel => "stylesheet"}/
  %script{:defer => "defer", :src => "sf.js"}
  %meta{:content => "おしゃれなカフェ", :name => "description"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Bonbon|Frank+Ruhl+Libre|Niconne&display=swap", :rel => "stylesheet"}/
  %link{:href => "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css", :rel => "stylesheet"}/
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %script{:src => "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"}
  :javascript
    $(document).ready(function() {
        $('.slider').bxSlider({
            auto: true,
            pause: 5000,
        });
    });
  %body
    = yield

